$enable-gradients: true;
@import "~bootstrap/scss/bootstrap";
html {
  height: 100%;
  body {
    height: 100%;
    .container-fluid {
      min-height: 100%;
      height: auto !important;
      height: 100%;
    }
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?reyhmn") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-sort-numeric-desc:before {
  content: "\ea4b";
}
